<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{{ page.title }}</title>
		<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
		<script src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js" defer></script>
		</script>
		<script src="https://unpkg.com/mermaid@11.16/dist/mermaid.min.js"></script>
		<script>
window.MathJax = {
  tex: {
	inlineMath: {'[+]': [['$', '$']]}
  }
};

function onload () {
	mermaid.initialize({
		startOnLoad:true,
		theme: "default",
	});
	window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
};
		</script>
		<style>
body h1 {
	text-transform: capitalize;
}
		</style>
	</head>
	<body onload="onload()">
		<h1>{{ page.title }}</h1>
		<em>{{ page.aka }}</em>
		{{ content }}
  	</body>
</html>